* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  radial-gradient()
}

header {
  text-align: center;
  max-width: 650px;
  margin: 0 auto;
}

header h1 {
  font-family: 'Exo 2', sans-serif;
}

header h1 span {
  font-weight: 500;
  color: white;
  background-color: red;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 2px;
  margin-right: 2px;
}

.info ul {
  font-family: 'Lora', serif;
  margin: 0;
  padding: 0;
}

.info li {
  display: inline-block;
  width: 20%;
}

.info li p:first-child {
  font-weight: bold;
}

.info-datum {
  font-size: 1.2rem;
  margin-top: 0;
}

span.info-datum {
  color: orange;
}

.info ul li:nth-child(4) p {
  padding-bottom: 3px;
}

.fa-refresh {
  cursor: pointer;
}

.container {
  max-height: 600px;
  max-width: 600px;
  font-size: 0;
  padding: 0 25px;
  margin: 0 auto 30px auto;
}

.card {
  width: 23.4%;
  display: inline-block;
  border: 1px solid #000;
  margin: 0.8%;
  background-color: #DFDBE5;
  background-image: url('../img/dimension.png');
  background-size:contain;
  background-origin: content-box;
  cursor: pointer;
  transition: all 0.2s;
}

.card-flip {
  transform: rotateY(90deg);
}

.pic {
  background-color: #632996;
}

.open {
  visibility: visible;
}

.closed {
  visibility: hidden;
}

img {
  width: 100%;
  height: auto;
  padding: 15%;
}
